@color-text-placeholder:rgba(0,0,0,0.25) ;

.color-black{
  color:#000 !important;
  // color:#FFFDE7 !important;
  // color:#C5CAE9 !important;
}
.color-black-1{
  color:rgba(0,0,0,0.9) !important;
  // color:#C5CAE9 !important;
}
.color-black-2{
  color:rgba(0,0,0,0.65) !important;
}
.color-black-3{
  color:rgba(0,0,0,0.45) !important;
}
.color-black-4{
  color:rgba(0,0,0,0.25) !important;
}
.bg-primary{
	.color-black{
		color:#fff !important;
	}
	.color-black-1{
		color:rgba(255,255,255,0.9) !important;
	}
	&.color-black{
		color:#fff !important;
	}
	&.color-black-1{
		color:rgba(255,255,255,0.9) !important;
	}
}

.am-search{
  background: transparent !important;
  .am-search-input{
    background: @fill-body !important;
    input[type="search"]{
    }
  }
  .am-search-clear{

  }
}