
// dark
@bg-fill-special:lighten(@fill-body,3%);
// light
@bg-fill-special:@fill-body;

.am-segment.side-buy{
  .am-segment-item{
    background: @bg-fill-special !important;
    text-transform:uppercase !important;
    &.am-segment-item-selected{
      
    }
  }
}
.am-segment.side-sell{
  .am-segment-item{
    background: @bg-fill-special !important;
    text-transform:uppercase !important;
    &.am-segment-item-selected{
      
    }
  }
}
.am-list-item.circle{
	background: @bg-fill-special !important;
}

.row.m15.p15.no-gutters.align-items-center.bg-fill{
	background: @bg-fill-special !important;
}

.settings .am-list-body{
	background: @bg-fill-special !important;
}

.am-search .am-search-input{
	background: @bg-fill-special !important;
}

.am-input-extra{
	.color-black-3.d-inline-block{
		width:45px !important;
	}
}

.am-button{
	text-transform:uppercase !important;
}
