@import "~antd-mobile/dist/antd-mobile.less";
@import '../../common/loopringui/assets/style/index.less';

// purple
@brand-primary: #C59949;
@brand-error: darken(#C2185B,0); 
@brand-success: darken(#558B2F,0); 
@bg-white: lighten(#15152D,1%);
@fill-body: lighten(#20203C,0%);
@bg-white-light: lighten(@bg-white,2.5%);
@bg-fill-light: lighten(@fill-body,4%);

// grey
// @brand-primary:darken(#488AEA,3%);
// @brand-error: darken(#d95468,6%); 
// @brand-success: darken(#1EB980,6%); 
// @fill-body: #33333D;
// @bg-white: #27272F;
// @bg-white-light: lighten(@bg-white,3.5%);
// @bg-fill-light: lighten(@fill-body,3.5%);

// blue
// @brand-primary:#488AEA;
@brand-error: darken(#d95468,6%); 
@brand-success: darken(#1EB980,6%); 
@fill-body: #252A42;
@bg-white: #181B2A;
@bg-white-light: lighten(@bg-white,5%);
@bg-fill-light: lighten(@fill-body,5%);

// dark
// @border-color:rgba(255,255,255,0.06);
// @import './theme-dark.less';

// white light
@fill-body: #EDEFF1;
@bg-white: #fff;
@bg-white-light: #fff;
@bg-fill-light: #fff;
@import './theme-light.less'i;
@border-color:rgba(0,0,0,0.05);

@brand-primary-light: fade(@brand-primary,10%);
@brand-primary-tap: fade(@brand-primary,95%);
@brand-important: @brand-error; // hot dot
@radius-xs: 50em;
@radius-sm: 50em;
@radius-md: 50em;
@radius-lg: 7 * @hd;
@radius-circle: 50%;
@button-height: 44 * @hd;
@color-link:@brand-primary;


@import './theme-common.less';
@import './components';
@import '../fonts/index.less';

