// https://github.com/ant-design/ant-design-mobile/blob/master/components/style/themes/default.less
// https://github.com/ant-design/ant-design-mobile/wiki/%E8%AE%BE%E8%AE%A1%E5%8F%98%E9%87%8F%E8%A1%A8%E5%8F%8A%E5%91%BD%E5%90%8D%E8%A7%84%E8%8C%83
@import "~antd-mobile/dist/antd-mobile.less";
@import '../../common/loopringui/assets/style/index.less';
@fontfamily: "Roboto","Helvetica Neue", Helvetica,sans-serif;
@fontfamily_number: "RobotoMono","Helvetica Neue", Helvetica,sans-serif;
@brand-primary: #0062ad;
@brand-success: #4caf50; // color-green-500
@brand-error: #f44336; // color-red-500
@fill-body: #EDEFF1;
@bg-white: #fff;

@bg-white-light: lighten(@fill-body,10%);
@fill-body-light: lighten(@fill-body,5%);
@bg-fill-light: lighten(@fill-body,0%);
@brand-primary-light: fade(@brand-primary,10%);
@brand-primary-tap: fade(@brand-primary,95%);
@brand-important: @brand-error; // hot dot
// @border-color:@fill-body;
@border-color:rgba(0,0,0,0.08);
// @border-color:rgba(0,0,0,0.2);

@radius-xs: 50em;
@radius-sm: 50em;
@radius-md: 50em;
@radius-lg: 7 * @hd;
@radius-circle: 50%;
@button-height: 44 * @hd;
@color-link:@brand-primary;
@brand-primary: #0062ad;


@import '../../common/loopringui/assets/style/index.less';
@import './theme-light.less';
@import './theme-common.less';
@import './components';
@import '../fonts/index.less';

